@media screen and (max-width: 1260px) {
    .g-nav-menu li{
        width: 100px;
        padding: 0 20px;
    }
    
    .movie-title-top h2 {
        left: 5%;
    }
    
    .movie-title-bottom h2 {
        right: 5%;
    }
}

@media screen and (max-width: 1024px) {
    .html, body {
        font-size: 80px;!important;
    }
    
    .top-catchcopy1, .concept-catchcopy1 {
        font-size: 0.35rem;
    }
    
    .top-catchcopy2, concept-catchcopy2{
        top: 55%;
    }

   #svganimation {
        width: 15%;
    }

    .g-nav {
        display: none;
    }

    .drawer {
        display: block;
        position: fixed!important;
        z-index: 9999;
    }
    
    .drawer-item {
        font-size: 0.25rem;
    }
    
    .icons-m {
        font-size: 0.25rem;
    }
    
    .movie-title-top h2 {
        left: 1%;
    }

    .movie-title-bottom h2 {
        right: 1%;
    }
    
    .product-title  {
        left: 10%;
    }
    
    .product-name {
        left: 15%;
        padding: 5% 0;
    }
    
    .product-01-body {
        justify-content: space-around;
    }
    
    .product-01-text {
        margin-left: 0;
    }

    .price-box {
        right: 50%;
    }

    .product-01-textbox {
        
    }
    
}

@media screen and (max-width: 896px) {
    .top-catchcopy1, .top-catchcopy2 {
        left: 4%;
    }
    
    .break:before {
        content: "\A";
        white-space: pre; /* あわせてこれを指定しないと改行しない */
    }
    
    .product-01-body {
        display: block;
    }
}

@media screen and (max-width: 480px) {
    
    
    
}
