/* 基礎 */
html,
body,
img,
h1,
h2,
h3,
h4,
p,
video,
a,
ul,
li,
div,
nav {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
p {
    font-weight: normal;
}

html {
    width: 100%;
    height: 100%;
    font-size: 100px;
}

a {
    text-decoration: none;
}

li,
ul {
    list-style: none;
}

body {
    font-family: "Noto Serif JP", serif, "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho";
}

.space {
    display: block;
    width: 100%;
    height: 300px;
}

/* アニメーション */
.fade-in {
    opacity: 0;
    transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transition: all 1.3s;
}

.fade-in.active {
    opacity: 1;
    transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
}

.fade-top {
    opacity: 0;
    transform: translate(0, -100px);
    -moz-transform: translate(0, -100px);
    -webkit-transform: translate(0, -100px);
    transition: all 1.3s;
}

.fade-top.active {
    opacity: 1;
    transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
}

.fade-bottom {
    opacity: 0;
    transform: translate(0, 100px);
    -moz-transform: translate(0, 100px);
    -webkit-transform: translate(0, 100px);
    transition: all 1.3s;
}

.fade-bottom.active {
    opacity: 1;
    transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
}

.fade-left {
    opacity: 0;
    transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -webkit-transform: translateX(-100px);
    transition: all 1.3s;
}

.fade-left.active {
    opacity: 1;
    transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
}

.fade-right {
    opacity: 0;
    transform: translateX(100px);
    -moz-transform: translateX(100px);
    -webkit-transform: translateX(100px);
    transition: all 1.3s;
}

.fade-right.active {
    opacity: 1;
    transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
}

.fade {
    opacity: 0;
    animation: fadein 1.3s ease forwards;
}

@keyframes fadein {
    100% {
        opacity: 1;
    }
}

/*以下遅延の指定*/
.late1 {
    animation-delay: 1s;
}

.late2 {
    animation-delay: 1.5s;
}

.late3 {
    animation-delay: 2s;
}

/* ローディング */
#logo_loader {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3000;
    background-color: #fff;
}

#logo_loader .f_logo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 250px;
    height: 90px;
    text-align: center;
    color: #fff;
    font-size: 30px;
}

#logo_loader .f_logo img {
    max-width: 250px;
    height: auto;
}

#logo_loader .f_logo:before {
    content: "";
    display: block;
    width: 100%;
    height: 110%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 100%;
    animation: loadLogo 1.5s;
}

@keyframes loadLogo {
    0% {
        left: 0;
    }

    50% {
        left: 0;
    }

    100% {
        left: 100%;
    }
}

#logo_loader .f_logo:before {
    animation: loadLogo 1.5s;
}

/* SNS */
.icons {
    position: fixed;
    right: 40px;
    bottom: 250px;
    z-index: 5;
    display: flex;
    flex-direction: column;
}

.icons a {
    padding: 0 0 30px 0;
    font-size: 25px;
    color: #4e4a54;
    transition: 1s;
}

.icons a:hover {
    color: #b27293;
}

@-webkit-keyframes icon-shake {
    25% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }

    75% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }

    100% {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes icon-shake {
    25% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }

    75% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }

    100% {
        -webkit-transform: none;
        transform: none;
    }
}

.icon-shake:hover {
    -webkit-animation: icon-shake 0.6s;
    animation: icon-shake 0.6s;
}

/* スクロール */
.scroll {
    display: inline-block;
    position: fixed;
    right: 40px;
    bottom: 0;
    z-index: 2;
    padding: 10px 10px 110px;
    overflow: hidden;
    color: #fff;
    font-size: 0.13rem;
    line-height: 1;
    letter-spacing: .2em;
    text-decoration: none;
    writing-mode: vertical-lr;
    z-index: 999;
    color: #4e4a54;
    font-family: "Noto Serif JP", serif;
}

.scroll::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 1px;
    height: 100px;
    background: #b27293;
}

.scroll::after {
    animation: sdl 2s cubic-bezier(1, 0, 0, 1) infinite;
}

@keyframes sdl {
    0% {
        opacity: 1;
        transform: scale(1, 0);
        transform-origin: 0 0;
    }

    30% {
        transform: scale(1, 1);
        transform-origin: 0 0;
    }

    30.1%,
    70% {
        transform: scale(1, 1);
        transform-origin: 0 100%;
    }

    100% {
        opacity: 0;
        transform: scale(1, 0);
        transform-origin: 0 100%;
    }
}

/* 右メニュー */
.drawer {
    width: 100%;
    height: 60px;
    position: relative;
    display: none;
}

/* チェックボックスは非表示に */
.drawer-hidden {
    display: none;
}

/* ハンバーガーアイコンの設置スペース */
.drawer-open {
    display: flex;
    height: 100%;
    width: 60px;
    align-items: center;
    position: absolute;
    right: 0;
    z-index: 5000;
    /* 重なり順を一番上に */
    cursor: pointer;
    margin: 0 0 0 auto;
}

/* ハンバーガーメニューのアイコン */
.drawer-open span,
.drawer-open span:before,
.drawer-open span:after {
    content: '';
    display: block;
    height: 2px;
    width: 25px;
    border-radius: 3px;
    background: #4e4a54;
    transition: 0.5s;
    position: absolute;
}

/* 三本線のうち一番上の棒の位置調整 */
.drawer-open span:before {
    bottom: 8px;
}

/* 三本線のうち一番下の棒の位置調整 */
.drawer-open span:after {
    top: 8px;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer-check:checked ~ .drawer-open span {
    background: rgba(255, 255, 255, 0);
    position: fixed;
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer-check:checked ~ .drawer-open span::before {
    bottom: 0;
    transform: rotate(45deg);
}

#drawer-check:checked ~ .drawer-open span::after {
    top: 0;
    transform: rotate(-45deg);
}

/* メニューのデザイン*/
.drawer-content {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 100%;
    /* メニューを画面の外に飛ばす */
    z-index: 2000;
    background: #e3e0da url("img/menu-background-img.jpg") no-repeat right / 50% 100vh;
    transition: .5s;
}

.drawer-list {
    width: 50vw;
    height: 100vh;
    font-family: "Noto Serif JP", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
}

.drawer-item {
    width: 100%;
    color: ##4e4a54;
    text-align: center;
    margin: 5% 0;
}

.drawer-item a {
    color: #4e4a54;
}

.drawer-item a:hover {
    color: #b27293;
}

.ham-menu-icons {
    width: 300px;
    text-align: center;
}

.ham-menu-icons i {
    margin: 0 5%;
    color: #4e4a54;
}

.ham-menu-icons i:hover {
    color: #b27293;
}

/* アイコンがクリックされたらメニューを表示 */
#drawer-check:checked ~ .drawer-content {
    left: 0;
    /* メニューを画面に入れる */
}

.shop-icon-drawer {
    line-height: 40px;
    text-align: center;
    z-index: 3;
    color: #4e4a54;
    box-sizing: border-box;
    border: 1px solid #4e4a54;
    border-radius: 20px;
    padding: 5px 10px;
}

.shop-icon-drawer:hover {
    border: 1px solid #b27293;
}

/* 上部固定メニュー */
.g-nav {
    position: absolute;
    top: 0;
    height: 80px;
    width: 100%;
    z-index: 100;
    overflow: hidden;
    background-color: rgba(255,255,255,0.8);
}

.g-nav a {
    color: #4e4a54;
    font-size: 0.16rem;
}

.g-nav a:hover {
    color: #b27293;
}

.logo-mellow {
    max-width: 120px;
    position: absolute;
    left: 3%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    z-index: 3;
}

.g-nav-menu {
    width: 100%;
    line-height: 80px;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    z-index: 3;
}

.g-nav-menu li {
    width: 130px;
    padding: 0 30px;
    list-style-type: none;
    display: inline-block;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    z-index: 1000;
}

.fixed .g-nav-menu li {
    line-height: 80px;
}

.btn {
    display: table-cell;
    width: inherit;
    margin-right: 5px;
    vertical-align: middle;
}

.btn:hover {
    color: #b27293;
}

.btn-action {
    position: relative;
    transition: 0.3s;
}

.btn-action:hover,
.btn-action:active {
    letter-spacing: 5px;
}

.btn-action:hover:after,
.btn-action:hover:before {
    width: 100%;
}

.shop-icon {
    position: absolute;
    width: 200px;
    line-height: 40px;
    text-align: center;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    z-index: 5;
    color: #4e4a54;
    box-sizing: border-box;
    /* shopグラデ */
    background: transparent;
    -webkit-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
    background: -webkit-linear-gradient(180deg, rgba(172, 111, 142, 0.8), rgba(229, 196, 213, 0.8), rgba(247, 211, 229, 0), rgba(247, 211, 229, 0));
    background: -webkit-linear-gradient(right, rgba(172, 111, 142, 0.8), rgba(229, 196, 213, 0.8), rgba(247, 211, 229, 0), rgba(247, 211, 229, 0));
    background: linear-gradient(270deg, rgba(172, 111, 142, 0.8), rgba(229, 196, 213, 0.8), rgba(247, 211, 229, 0), rgba(247, 211, 229, 0));
    background-position: 1% 50%;
    background-size: 300% 300%;
    border: none;
    border: 1px solid #4e4a54;
    border-radius: 20px;
}

.shop-icon:hover {
    background-position: 99% 50%;
    color: #fff !important;
    border: 1px solid rgba(205, 200, 252, 0);
}

.shop-icon a:hover {
    background-position: 99% 50%;
    color: #fff !important;
    border: 1px solid rgba(205, 200, 252, 0);
}

.fa-shopping-cart {
    padding-left: 5%;
}

.mainSite {
    overflow: hidden;
}

/* ヘッダー */
.header-wrapper {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #fff;
    overflow: hidden;
}

.headerimg-wrap {
    overflow: hidden;
}

.headerimg-main {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 3;
    object-fit: cover;
    object-position: center;
}

.object-fit-img {
    object-fit: cover;
    object-position: bottom;
    font-family: 'object-fit: cover; object-position: bottom;'
}

.catchcopy-img {
    position: absolute;
    bottom: 20%;
    left: 10%;
    
    z-index: 4;
}

.cls-1 {
    fill: none;
    stroke: #fff;
    stroke-width: 7;
    stroke-linecap: round;
    stroke-linejoin: round;
}

#svganimation {
    position: absolute;
    bottom: 15%;
    left: 35%;
    z-index: 4;
    max-width: 180px;
}

/* コンセプト コンテンツ */
.concept-wrap {
    width: 100%;
    height: 1200px;
    position: relative;
    font-family: "Noto Serif JP", serif;
}

.concept-title {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.concept-title h2 {
    font-size: 0.45rem;
    color: #4e4a54;
    margin: 0 auto;
}

.concept-title p {
    height: 150px;
    font-size: 0.16rem;
    color: #4e4a54;
    letter-spacing: 3px;
    z-index: 2;
    writing-mode: vertical-rl;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

.catchcopy2-fixed {
    position: absolute;
    top: 0;
    left: 40px;
    writing-mode: vertical-lr;
    font-size: 0.13rem;
    letter-spacing: 2px;
    color: #4e4a54;
    z-index: 2;
    padding-top: 150px;
}

.catchcopy2-fixed.text-fixed {
    position: fixed;
    top: 0;
    left: 40px;
    z-index: 2;
}

.concept-img,
parallax1 {
    width: 50vw;
    height: 80vh;
    object-fit: cover;
    object-position: left bottom;
    position: absolute;
    left: 0;
    z-index: 1;
    opacity: 0.7;
}

.concept-img2,
parallax2 {
    width: 25vw;
    height: 40vh;
    object-fit: cover;
    object-position: 100% 0;
    position: absolute;
    right: 0;
    z-index: 1;
    opacity: 0.7;
}

.concept-body {
    width: 50%;
    position: absolute;
    top: 300px;
    left: 40%;
    display: flex;
    flex-direction: column;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.5);
}

.concept-text {
    padding: 10%;
    margin-right: 0 auto;
    font-size: 0.16rem;
    color: #4e4a54;
    line-height: 2.5;
    letter-spacing: 5px;
}

.txt {
    opacity: 0;
}

/* 動画 */
.space-movietop {
    display: block;
    position: relative;
    width: 100%;
    height: 200px;
}

.space-moviebottom {
    display: block;
    position: relative;
    width: 100%;
    height: 200px;
}

.mellow-movie {
    display: block;
    font-family: "Noto Serif JP", serif;
    width: 100%;
    height: 500px;
    position: relative;
    margin: 0 auto;
}

.movie-background {
    height: 1100px;
    position: absolute;
    top: -300px;
    left: 40%;
    z-index: -1;
}

.movie-title-bottom {
    width: 100%;
    height: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    bottom: 30px;
    z-index: 3;
    text-align: center;
}

.movie-title-bottom h2 {
    width: 100%;
    font-size: 0.16rem;
    letter-spacing: 2px;
    color: #fff;
}

.movie-link {
    position: relative;
    display: block;
    overflow: hidden;
    cursor: default;
}

.movie-link:hover {
    opacity: 0.9;
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    cursor: default;
}

.movie-link::before {
    content: '';
    display: block;
    width: 100%;
    height: 500px;
}

.movie-btn-box,
.movie-btn-center {
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 5;
}

.movie-btn-center {
    padding: 8% 18%;
    background-color: rgba(255, 255, 255, 0.2);
}

.movie-btn-text {
    display: block;
    width: 180px;
    height: 180px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 6;
}

.movie-btn-box {
    transition: 1s;
    z-index: 7;
}

.movie-btn-box:hover {
    transform: rotate(90deg);
    cursor: pointer;
}

.mellow-movie video {
    display: inline-block;
    max-width: 900px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 2;
}

/* 商品コンテンツ */
.product-wrap {
    font-family: "Noto Serif JP", serif;
    color: #4e4a54;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.product-title {
    width: 50%;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
}

.product-title h2 {
    font-size: 0.45rem;
    color: #4e4a54;
    z-index: 2;
    padding-left: 10%;
}

.product-title p {
    height: 150px;
    font-size: 0.16rem;
    color: #4e4a54;
    letter-spacing: 3px;
    z-index: 2;
    writing-mode: vertical-rl;
    position: absolute;
    top: 80px;
    overflow: hidden;
    margin-left: 10%;
}

/* setbody */
.product-setcontents {
    font-family: "Noto Serif JP", serif;
    width: 100%;
    padding-top: 200px;
    display: flex;
}

.product-set-imgbody {
    width: 50%;
    height: 1100px;
}

.product-set-imgbody img {
    width: 100%;
    height: 100%;
}

.product-set-textbody {
    width: 50%;
    height: 1100px;
    position: relative;
}

.product-set-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    padding-left: 10%;
}

.product-set-name {
    display: flex;
    flex-direction: column;
}

.name-main {
    letter-spacing: 5px;
    font-size: 0.3rem;
}

.name-sub {
    line-height: 50px;
    display: flex;
    padding: 5px 0;
}

.name-sub h3 {
    font-size: 0.2rem;
}

.name-sub h2 {
    font-size: 0.3rem;
    padding-left: 50px;
}

.name-sub span {
    font-size: 0.16rem;
}

.set-catchcopy-main {
    width: 80%;
    padding: 80px 0;
    color: #b27293;
    font-size: 0.2rem;
    letter-spacing: 3px;
    line-height: 2;
}

.set-catchcopy-sub p {
    width: 80%;
    font-size: 0.16rem;
    color: #4e4a54;
    letter-spacing: 5px;
    line-height: 2;
}

.set-bottom-contents {
    width: 80%;
    display: flex;
    flex-direction: column;
    position: relative;
}


.set-buy-button {
    margin-top: 100px;
    width: 130px;
    height: 50px;
    background-color: #b27293;
    text-align: center;
    position: relative;
    position: absolute;
    right: 0;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    /* Chrome、Safari用 */
    -moz-transition: 0.5s;
    /* Firefox用 */
    -o-transition: 0.5s;
    /* Opera用 */
}

.set-buy-button:hover {
    background-color: #fff;
    border: 1px solid #b27293;
    box-sizing: border-box;
}

.set-buy-button:hover:before {
    border-top: 1px solid #b27293;
}

.set-buy-button:before {
    width: 60px;
    content: '';
    border-top: 1px solid #4e4a54;
    flex-grow: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    left: -60px;
}

.set-buy-button p {
    line-height: 50px;
    color: #fff;
    font-size: 0.16rem;
    letter-spacing: 5px;
}

.set-buy-button p:hover {
    color: #b27293;
}

.set-contentsbody {
    margin-top: 150px;
}

.set-contentsbody h4 {
    font-size: 0.2rem;
    color: #b27293;
    padding: 10px 0;
}

.set-contentsbody p {
    font-size: 0.16rem;
    color: #4e4a54;
    line-height: 2;
}

/* セットコンテンツリスト */
.set-listcontents-title {
    width: 100%;
    height: 200px;
    background-color: #F8F2F5;
    position: relative;
}

.set-title-wrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    left: 10%;
}

.set-title-wrap h2 {
    font-size: 0.45rem;
}

.set-title-wrap p {
    font-size: 0.2rem;
}

/* コンテンツ内容 */
.set-contents-wrap {
    width: 100%;
    height: 700px;
    display: flex;
}

.set-contents-list {
    width: 25%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.setlist-img1 {
    background-image: url(img/setlist-img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.setlist-img2 {
    background-image: url(img/setlist-img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.setlist-img3 {
    background-image: url(img/setlist-img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.setlist-img4 {
    background-image: url(img/setlist-img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.list-title-wrap {
    height: 40%;
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
}

.list-title-wrap h3 {
    font-size: 0.18rem;
    color: #4e4a54;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    line-height: 1.8;
}

.list-title-wrap img {
    width: 10%;
    color: #b27293;
    position: absolute;
    top: 10%;
    left: 10%;
}

.list-title-wrap span {
    font-size: 0.25rem;
    color: #b27293;
}

.list-textbody {
    width: 100%;
    height: 60%;
    position: relative;
}

.list-text1,
.list-text2,
.list-text3,
.list-text4 {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: none;
}

.list-text1 p,
.list-text2 p,
.list-text3 p,
.list-text4 p{
    width: 80%;
    font-size: 0.14rem;
    color: #4e4a54;
    letter-spacing: 8px;
    line-height: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/*　テキスト省略  */
.set-readmore-button1 label:before,
.set-readmore-button2 label:before,
.set-readmore-button3 label:before,
.set-readmore-button4 label:before {
    /*閉じている際のボタンのテキスト*/
    content: "More";
    cursor: pointer;
}

.set-readmore-button1 input:checked + label:before,
.set-readmore-button2 input:checked + label:before,
.set-readmore-button3 input:checked + label:before,
.set-readmore-button4 input:checked + label:before {
    /*開いているときは:checked状態なので、その際はボタンテキストを変える*/
    content: "Close";
    cursor: pointer;
}

.set-readmore-button1 input,
.set-readmore-button2 input,
.set-readmore-button2 input,
.set-readmore-button3 input,
.set-readmore-button4 input {
    /*input要素は隠しておく*/
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.set-readmore-button1 label,
.set-readmore-button2 label,
.set-readmore-button3 label,
.set-readmore-button4 label {
    /*input要素は隠しておく*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 999;
}

.set-readmore-button1,
.set-readmore-button2,
.set-readmore-button3,
.set-readmore-button4 {
    font-family: "Noto Serif JP", serif;
    width: 130px;
    height: 50px;
    background-color: #b27293;
    text-align: center;
    position: relative;
    position: absolute;
    bottom: 10%;
    right: 10%;
    line-height: 50px;
    color: #fff;
    font-size: 0.16rem;
    letter-spacing: 5px;
    box-sizing: border-box;
    z-index: 999;
}

.set-readmore-button1:hover,
.set-readmore-button2:hover,
.set-readmore-button3:hover,
.set-readmore-button4:hover {
    cursor: pointer;
}

.set-readmore-button1:before,
.set-readmore-button2:before,
.set-readmore-button3:before,
.set-readmore-button4:before {
    width: 60px;
    content: '';
    border-top: 1px solid #4e4a54;
    flex-grow: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    left: -60px;
}
/* ここまで */

/*　ポイント */
.set-point {
    font-family: "Noto Serif JP", serif;
    color: #4e4a54;
    width: 100%;
    position: relative;
    padding-top: 100px;
}

.setpoint-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 10%;
}

.setpoint-title h2 {
    font-size: 0.45rem;
    color: #4e4a54;
    z-index: 2;
}

.setpoint-title p {
    height: 180px;
    font-size: 0.16rem;
    color: #4e4a54;
    letter-spacing: 3px;
    z-index: 2;
    writing-mode: vertical-rl;
    position: absolute;
    top: 80px;
    overflow: hidden;
}

.set-bodyimg {
    width: 100%;
    height: 500px;
    margin-top: 300px;
    position: relative;
}

.set-bodyimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 100% 30%;
}

.set-img-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    right: 10%;
}

.set-img-text p {
    font-size: 0.2rem;
    color: #fff;
    letter-spacing: 3px;
    line-height: 2;
}

/* ポイントコンテンツ */
.point-list-contents {
    width: 100%;
    height: 600px;
    display: flex;
}

.point-list-left1,
.point-list-right2,
.point-list-left3,
.point-list-right4 {
    width: 50%;
    background-color: #fff;
}

.point-list-title-wrap {
    width: 100%;
    height: 100%;
    position: relative;
}

.point-list-title-wrap h3 {
    font-size: 0.18rem;
    color: #4e4a54;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    line-height: 1.8;
}

.point-list-title-wrap img {
    width: 8%;
    color: #b27293;
    position: absolute;
    top: 20%;
    left: 20%;
}

.point-list-title-wrap span {
    font-size: 0.25rem;
    color: #b27293;
}

.readmore-button1 label:before,
.readmore-button2 label:before,
.readmore-button3 label:before,
.readmore-button4 label:before {
    /*閉じている際のボタンのテキスト*/
    content: "More";
    cursor: pointer;
}

.readmore-button1 input:checked + label:before,
.readmore-button2 input:checked + label:before,
.readmore-button3 input:checked + label:before,
.readmore-button4 input:checked + label:before {
    /*開いているときは:checked状態なので、その際はボタンテキストを変える*/
    content: "Close";
    cursor: pointer;
}

.readmore-button1 input,
.readmore-button2 input,
.readmore-button3 input,
.readmore-button4 input {
    /*input要素は隠しておく*/
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.readmore-button1 label,
.readmore-button2 label,
.readmore-button3 label,
.readmore-button4 label {
    /*input要素は隠しておく*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.readmore-button1,
.readmore-button2,
.readmore-button3,
.readmore-button4 {
    font-family: "Noto Serif JP", serif;
    width: 130px;
    height: 50px;
    background-color: #b27293;
    text-align: center;
    position: relative;
    position: absolute;
    right: 20%;
    bottom: 20%;
    line-height: 50px;
    color: #fff;
    font-size: 0.16rem;
    letter-spacing: 5px;
    box-sizing: border-box;
}

.readmore-button1:hover,
.readmore-button2:hover,
.readmore-button3:hover,
.readmore-button4:hover {
    cursor: pointer;
}

.readmore-button1:before,
.readmore-button2:before,
.readmore-button3:before,
.readmore-button4:before {
    width: 60px;
    content: '';
    border-top: 1px solid #4e4a54;
    flex-grow: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    left: -60px;
}

.point-list-right1 {
    width: 50%;
    background-image: url(img/point-list-img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.point-list-left2 {
    width: 50%;
    background-image: url(img/point-list-img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.point-list-right3 {
    width: 50%;
    background-image: url(img/point-list-img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.point-list-left4 {
    width: 50%;
    background-image: url(img/point-list-img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.point-list-text1,
.point-list-text2,
.point-list-text3,
.point-list-text4 {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: none;
}

.point-list-text1 p,
.point-list-text2 p,
.point-list-text3 p,
.point-list-text4 p {
    width: 80%;
    font-size: 0.16rem;
    color: #4e4a54;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    letter-spacing: 5px;
    line-height: 2.5;
}

/* オンラインショップ */
.onlineshop-wrap {
    width: 100%;
    height: 100%;
    background-color: #f8f2f5;
    padding-bottom: 200px;
    position: relative;
}

.onlineshop-title {
    height: 300px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 130px;
}

.onlineshop-title h2 {
    font-size: 0.45rem;
    color: #4e4a54;
    margin: 0 auto;
}

.onlineshop-title p {
    height: 150px;
    font-size: 0.16rem;
    color: #4e4a54;
    letter-spacing: 3px;
    z-index: 2;
    writing-mode: vertical-rl;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

.onlineshop-contents-wrap {
    margin: 0 15%;
}

.shop-contents-list {
    width: 100%;
    height: 700px;
    display: flex;
    position: relative
}

.shop-list1-left,
.shop-list2-right {
    width: 50%;
    height: 100%;
}

.shop-list1-left img,
.shop-list2-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.shop-list1-right,
.shop-list2-left {
    width: 50%;
    position: relative;
    background-color: #fff;
}

.shop-background {
    width: 45%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity: 0.1;
}

.shop-list1-name,
.shop-list2-name {
    display: flex;
    flex-direction: column;
    color: #b27293;
    padding: 20% 10%;
}

.shop-list1-name h1,
.shop-list2-name h1 {
    letter-spacing: 5px;
    font-size: 0.2rem;
}

.shop-list1-name h3,
.shop-list2-name h3 {
    font-size: 0.2rem;
    padding: 5px 0;
}

.shop-list1-price h3,
.shop-list2-price h3 {
    font-size: 0.3rem;
    color: #b27293;
    position: absolute;
    right: 0;
    bottom: 100px;
    padding: 20% 5%;
}

.shop-list1-price span,
.shop-list2-price span {
    font-size: 0.16rem;
}

.shop-list2-name p {
    font-size: 0.2rem;
    padding-top: 30px;
}

.shoplist1-buy-button,
.shoplist2-buy-button {
    margin: 20% 5%;
    width: 130px;
    height: 50px;
    background-color: #b27293;
    text-align: center;
    position: relative;
    position: absolute;
    right: 0;
    bottom: 0;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    /* Chrome、Safari用 */
    -moz-transition: 0.5s;
    /* Firefox用 */
    -o-transition: 0.5s;
    /* Opera用 */
}

.shoplist1-buy-button:hover,
.shoplist2-buy-button:hover {
    background-color: #fff;
    border: 1px solid #b27293;
    box-sizing: border-box;
}

.shoplist1-buy-button:hover:before,
.shoplist2-buy-button:hover:before {
    border-top: 1px solid #b27293;
}

.shoplist1-buy-button:before,
.shoplist2-buy-button:before {
    width: 60px;
    content: '';
    border-top: 1px solid #4e4a54;
    flex-grow: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    left: -60px;
}

.shoplist1-buy-button p,
.shoplist2-buy-button p {
    line-height: 50px;
    color: #fff;
    font-size: 0.16rem;
}

.shoplist1-buy-button p:hover,
.shoplist2-buy-button p:hover {
    color: #b27293;
}


/* How to動画 */
.howto-wrap {
    width: 100%;
    position: relative;
}

.howto-title {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 10%;
}

.howto-title h2 {
    font-size: 0.45rem;
    color: #4e4a54;
    position: relative;
}

.howto-title p {
    height: 150px;
    font-size: 0.16rem;
    color: #4e4a54;
    letter-spacing: 3px;
    z-index: 2;
    writing-mode: vertical-rl;
    position: absolute;
    top: 80px;
    left: 0;
}

.howto-movie-list {
    width: 80%;
    margin: 0 auto;
    padding-top: 200px;
}

.movie-list {
    display: flex;
    margin: 10% 0;
}

.howto-movie-contents {
    width: 50%;
}

.howto-movie-contents video {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
}

.howto-movie-textbody {
    width: 40%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.howto-movie-textbody img {
    width: 8%;
}

.howto-movie-textbody h3 {
    margin: 0 auto;
    padding-bottom: 5%;
    font-size: 0.25rem;
    color: #b27293;
}

.howto-movie-textbody p {
    font-size: 0.16rem;
    padding-left: 50px;
    letter-spacing: 5px;
    line-height: 2;
}

/* SNS */
.bottom-message-wrap {
    width: 100%;
    height: 800px;
    position: relative;
    display: flex;
}

.bottom-message-left {
    width: 50%;
    height: 100%;
    background-color: #f8f2f5;
    display: flex;
    align-items: center;
    justify-content: center;
}


.bottom-message-left-textbody {
    padding: 0 50px
}

.bottom-message-left-textbody p {
    font-size: 0.18rem;
    color: #4e4a54;
    display: flex;
    line-height: 2.5;
}

.message-space {
    padding-bottom: 30px;
}

.message-point {
    font-size: 0.25rem !important;
    color: #b27293 !important;
}

.bottom-message-right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.bottom-sns-topimg {
    width: 100%;
    height: 50%;
}

.bottom-sns-topimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.bottom-sns-contents {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    position: relative;
}

.sns-title-wrap {
    display: flex;
    height: 80px;
    padding: 20px 0;
}

.sns-title-wrap h3 {
    font-size: 0.25rem;
    color: #b27293;
    line-height: 80px;
}

.sns-title-wrap img {
    width: 100px;
    height: 80px;
    object-fit: cover;
    object-position: top center;
}

.sns-textbody {
    font-size: 0.16rem;
    color: #4e4a54;
}

/* SNSボタン */
.check-text {
    padding-top: 20px;
    font-size: 0.2rem;
    text-align: center;
}

.check-box {
    margin: 0 auto;
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-color: transparent transparent #b27293 #b27293;
    transform: rotate(-45deg);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -webkit-animation: arrow-move06 2s 1s ease-in-out infinite;
    animation: arrow-move06 2s 1s ease-in-out infinite;
}

@-webkit-keyframes arrow-move06 {
    0% {
        top: 1%;
        opacity: 0.1;
    }

    70% {
        top: 5%;
        opacity: 1;
    }

    100% {
        top: 1%;
        opacity: 0.3;
    }
}

@keyframes arrow-move06 {
    0% {
        top: 1%;
        opacity: 0.1;
    }

    70% {
        top: 5%;
        opacity: 1;
    }

    100% {
        top: 1%;
        opacity: 0.3;
    }
}

.sns-keiko-icon {
    display: block;
    width: 100%;
    height: 80px;
    position: relative;
    text-align: center;
}

.sns-btn-twitter {
    color: #4e4a54;
    font-size: 0.4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.sns-btn-twitter:hover {
    color: #b27293;
}

.sns-btn-box {
    transition: 1s;
    z-index: 7;
}

.sns-btn-box:hover {
    transform: rotate(90deg);
}

/* メッセージ */
.message-body {
    width: 100%;
    height: 400px;
    background-image: url(img/bottom-messageimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 75%;
    opacity: 0.7;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.message-body p {
    font-size: 0.16rem;
    color: #fff;
    line-height: 3;
    letter-spacing: 5px;
}

.message-body img {
    max-width: 180px;
    position: absolute;
    bottom: 10%;
    right: 25%;
}

/* フッター */
.footer-wrap {
    width: 100%;
    height: 300px;
    display: flex;
}

.footer-left {
    width: 50%;
    position: relative;
}

.footer-contents-flex {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    line-height: 0;
}

.footer-contents-flex img {
    display: flex;
    width: 180px;
}

.footer-menu-icons {
    width: 180px;
    text-align: center;
    padding-left: 30px;
}

.footer-menu-icons i {
    color: #4e4a54;
}

.footer-menu-icons i:hover {
    color: #b27293;
}

.icons-m {
    font-size: 0.3rem;
}

.footer-right {
    width: 50%;
    position: relative;
}

.footer-menu {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.footer-menu p {
    font-size: 0.16rem;
    padding-right: 30px;
    color: #4e4a54;
}

.footer-menu p:hover {
    color: #b27293;
}

.footer-bottom {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-bottom p {
    font-size: 0.13rem;
    color: #b27293;
}
