/* 基礎 */
html,body,img,h1,h2,h3,p,video,a,ul,li,div,nav {
    margin: 0;
    padding: 0;
}

html,body{
    width: 100%;
    height: 100%;
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

li,ul{
    list-style: none;
}

body {
    font-family: 'YuGothic','Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', 'Meiryo','ＭＳ ゴシック',sans-serif, 'Yu Mincho', 'Cormorant';
}

/* アニメーション */
.fade-in {
    opacity : 0;
    transform : translate(0, 0);
    transition : all 1s;
}

.fade-in.active{
    opacity : 1;
    transform : translate(0, 0);
}

.fade-top {
    opacity : 0;
    transform : translate(100px, 0);
    transition : all 1s;
}

.fade-top.active{
    opacity : 1;
    transform : translate(0, 0);
}

.fade-bottom {
    opacity : 0;
    transform : translate(0, 100px);
    transition : all 1s;
}

.fade-bottom.active{
    opacity : 1;
    transform : translate(0, 0);
}

.fade-left {
    opacity : 0;
    transform : translateX(-100px);
    transition : all 1s;
}

.fade-left.active{
    opacity : 1;
    transform : translate(0, 0);
}

.fade-right {
    opacity : 0;
    transform : translateX(100px);
    transition : all 1s;
}

.fade-right.active{
    opacity : 1;
    transform : translate(0, 0);
}

/* スクロール */
.scroll {
    display: inline-block;
    position: fixed;
    right: 40px;
    bottom: 0;
    z-index: 2;
    padding: 10px 10px 110px;
    overflow: hidden;
    color: #fff;
    font-size: 14px;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1;
    letter-spacing: .2em;
    text-transform: uppercase;
    text-decoration: none;
    writing-mode: vertical-lr;
    z-index: 999;
    color: #595754;
    font-family: serif;
    text-orientation: upright;
}
.scroll::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 1px;
    height: 100px;
    background: #c2b8a7;
}

.scroll::after {
    animation: sdl 2s cubic-bezier(1, 0, 0, 1) infinite;
}
@keyframes sdl {
    0% {
        opacity: 1;
        transform: scale(1, 0);
        transform-origin: 0 0;
    }
    30% {
        transform: scale(1, 1);
        transform-origin: 0 0;
    }
    30.1%, 70% {
        transform: scale(1, 1);
        transform-origin: 0 100%;
    }
    100% {
        opacity: 0;
        transform: scale(1, 0);
        transform-origin: 0 100%;
    }
}

/* 上部固定メニュー */
header {
    position: relative;
    width: 100%;
}

.g-nav{
    display: inline-block;
    position: absolute;
    width: 100%;
    z-index: 1100;
}

.g-nav a {
    color: #595754;
    font-family: serif;
    font-size: 2rem;
}

.g-nav a:hover {
    color: #ac6f8e;
}

.g-nav-menu{
    text-align: center;
}
.g-nav-menu li{
    width: 130px;
    padding: 0 30px;
    list-style-type: none;
    display: inline-block;
    line-height: 80px;
}
.fixed{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.8);
    z-index: 2000;
}
.fixed .g-nav-menu li{
    line-height: 60px;
}

.btn {
    display: table-cell;
    width: inherit;
    margin-right: 5px;
    box-sizing: border-box;
    vertical-align: middle;
}

.btn span {
    font-family: 'Yu mincho';
    font-size: 1.3rem;
    position: relative;
    top: -50px;
}

.btn:hover {
    color: #ac6f8e;
}

.btn-action {
    display: inline-block;
    position: relative;
    transition: 0.3s;
}

.btn-action:hover, .btn-action:active {
    letter-spacing: 5px;
}

.btn-action:after, .btn-action:before {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 1px;
    background: #ac6f8e;
    content: "";
    transition: 0.3s;
    transform: translateX(-50%);
}

.btn-action:hover:after, .btn-action:hover:before {
    width: 100%;
}


/* 左メニュー */
/*メニュー部分*/
#ham-menu {
    background-color: #fff;
    /*メニュー背景色*/
    box-sizing: border-box;
    height: 100%;
    padding: 10px 40px;
    /*メニュー内部上下左右余白*/
    position: fixed;
    right: -300px;
    /*メニュー横幅①と合わせる*/
    top: 0;
    transition: transform 0.3s linear 0s;
    /*0.3s は変化するのにかかる時間*/
    width: 300px;
    /*メニュー横幅①*/
    z-index: 1000;
    display: none;
}

#ham-menu a {
    color: #595754;
    font-family: serif;
    font-size: 2rem;
}

#ham-menu li {
    margin: 30% 0;
}


#ham-menu a:hover {
    color: #ac6f8e;
}

/*メニューアイコン部分は疑似要素で*/
#ham-menu::before {
    background-color: #fff;
    /*ボタン部分背景色*/
    border-radius: 0 0 0 10px;
    /*左下角丸*/
    color: #333;
    /*アイコン（フォント）色*/
    content: "≡";
    /*メニューアイコン*/
    display: block;
    font-size: 50px;
    /*アイコン（フォント）サイズ*/
    height: 50px;
    line-height: 50px;
    /*縦位置中央化*/
    position: absolute;
    right: 100%;
    text-align: center;
    top: 0;
    width: 50px;
}

/*透過背景部分*/
#menu-background {
    background-color: #333;
    /*黒背景部分背景色*/
    display: block;
    height: 100%;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 0.3s linear 0s;
    /*0.3s は変化するのにかかる時間*/
    width: 100%;
    z-index: -1;
}

/*hover 時の処理*/
#ham-menu:hover {
    transform: translate(-300px);
    /*メニュー横幅①と合わせる*/
}

#ham-menu:hover + #menu-background{
    opacity: 0.5;
    /*黒背景部分透過度*/
    z-index: 999;
}

.ham-menu-icons a {
    padding: 0 5%;
}

/* ヘッダー */
.header-wrapper {
    height: 100vh;
    width: auto;
    position: relative;
    background-color: #fff;
}

.logo-mellow {
    position: absolute;
    top: 2%;
    left: 3%;
    z-index: 3;
}

.icons {
    position: absolute;
    top: 3%;
    right: 3%;
    z-index: 1200;
    width: 200px;
    text-align: center;
}

.icons a {
    color: #595754;
    padding: 0 5%;
}

.icons a:hover {
    color: #c2b8a7;
}

.headerimg-left {
    width:35vw;
    height: 100vh;
    position: absolute;
    left: 0;
    object-fit: cover;
    z-index: 2
}

.headerimg-right {
    display: block;
    text-align: center;
    width:65vw;
    height: 80vh;
    position: absolute;
    right: 0;
    top: 0;
    object-fit: cover;
    object-position: 100%;
}

.header-movie {
    width: 45vw;
    display: inline-block;
    position: absolute;
    top: 18%;
    z-index: 2;
    right: 10%;
}

.object-fit-img {
    object-fit: cover;
    object-position: bottom;
    font-family: 'object-fit: cover; object-position: bottom;'
}

.cacthcopy-img-s1 {
    position: absolute;
    top: 78%;
    right: 25%;
    z-index: 3;
}

.cacthcopy-img-s2 {
    position: absolute;
    top: 85%;
    right: 15%;
    z-index: 3;
}

/* サイン アニメーション */
.cls-1 {
    fill: none;
    stroke: #b27293;
    stroke-width: 7;
    stroke-linecap: round;
    stroke-linejoin: round;
}

#svganimation {
    width: 10%;
    position: absolute;
    top: 90%;
    right: 8%;
    z-index: 4;
}

.catchcopy-pt2 {
    text-align: right;
    overflow: hidden;
}

/* コンセプト コンテンツ */
.concept-wrap {
    width: 100%;
    height: 2400px;
    position: relative;
    margin: 10% 0;
}

.concept-title {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.concept-title h2 {
    font-size: 4.5rem;
    font-weight: normal;
    font-family: serif;
    color: #595754;
    margin: 0 auto;
}

.concept-title p {
    height: 150px;
    font-size: 1.6rem;
    color: #595754;
    letter-spacing: 3px;
    font-family: 'Yu Mincho';
    z-index: 2;
    margin: 0 auto;
    writing-mode: vertical-rl;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);

}

.concept-img, parallax1 {
    width: 50vw;
    height: 80vh;
    object-fit: cover; 
    object-position: 100% 0;
    position: absolute;
    left: 0;
    opacity: 0.8;
    z-index: 1;
}

.concept-img2, parallax2 {
    width: 25vw;
    height: 40vh;
    object-fit: cover; 
    object-position: 0 140%;
    position: absolute;
    right: 0;
    opacity: 0.7;
    z-index: 1;
}

.concept-cacth-s1 {
    display: none;
}

.concept-cacth-s2 {
    display: none;
}

.concept-text {
    position: absolute;
    top: 600px;
    left: 40%;
    display: flex;
    flex-direction: column;
    z-index: 3;
}

.concept-text p {
    font-size: 1.6rem;
    font-family: 'Yu Mincho';
    color: #595754;
    line-height: 2.5;
    letter-spacing: 5px;
    padding-top: 13%;
}


.mellow-movie {
    width: 100%;
    position: relative;
    top:1500px;
}

.movie-title {
    font-size: 6rem;
    font-family: serif;
    font-weight: normal;
    color: #c2b8a7;
    position: absolute;
    left: 15%;
}

.mellow-movie video {
    width: 60vw;
    height: 60vh;
    object-fit: cover;
    object-position: 100% 0;
    position: absolute;
    top:200px;
    left: 15%;
    z-index: 2;
}

.movie-box {
    width: 60vw;
    height: 60vh;
    background-color: #c2b8a7;
    position: absolute;
    top: 300px;
    right: 15%;
}

/* 商品コンテンツ */
.product-wrap{
    width: 100%;
    height: 1500px;
    margin: 10% 0;
    position: relative;
}

.product-title {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 120px;
    left: 15%;
}

.product-title h2 {
    font-size: 4.5rem;
    font-weight: normal;
    font-family: serif;
    color: #595754;
    z-index: 2;
}

.product-title p {
    height: 150px;
    font-size: 1.6rem;
    color: #595754;
    letter-spacing: 3px;
    font-family: 'Yu Mincho';
    z-index: 2;
    writing-mode: vertical-rl;
    position: absolute;
    top: 80px;
}

.oil-name {
    width: 30vw;
    position: absolute;
    top:400px;
    left: 8%;
    z-index: 2;
}

.product-body {
    position: absolute;
    top: 300px;
    left: 15%;
}

.product-img {
    width: 60vw;
    z-index: 1;
}

